button{
    border-color:tan;
    border-width:4px;
    color:#ffffff;
    background-color:forestgreen;
    font-size:12px;
    padding:15px 15px;
    display: flex-start;
    justify-content: space-around;
}

p{
    font-size: 30px;
}

div{
    width: 700px;
    height: 100px;
}